.container-avaliar-hotel{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-avaliar-hotel img{
    margin-left: 80px;
}

.container-avaliar-hotel section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 200px;
}

.container-avaliar-hotel section.form h1{
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: bold;
}

.container-avaliar-hotel section.form form div.avaliacao-parte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-avaliar-hotel section.form form input{
    width: 80px;
    height: 30px;
    display: block;

    border-radius: 8px;
    border-style: none;

    margin-bottom: 32px;
    padding-left: 32px;
}

.container-avaliar-hotel section.form form textarea{
    width: 500px;
    height: 100px;
    display: block;

    border-radius: 8px;
    border-style: none;

    margin-bottom: 32px;
    padding-left: 32px;

    font-size: medium;
}

.container-avaliar-hotel section.form form button{
    width: 500px;
    height: 60px;
}


.container-avaliar-hotel section.form div.container-autenticacao input{
    width: 230px;
}